extends ../../_layout/layout.jade
//- index
block css
	link(href='#{page.app}css/modules/index.css', media='all', rel='stylesheet', type='text/css')

block content
	#wrapper
		.wrapper_center
			p The person responsible doesn't work here anymore...

block javascript
	script(src="#{page.app}js/modules/index.js")