nav
	div
		i.icon.icon-menu
	ul
		li
			a(href="https://github.com/paulrrdiaz/alpha", target="_blank")
				i.icon.icon-social_github
				h4 Github
		li
			a(href="https://twitter.com/paulrrdiaz", target="_blank")
				i.icon.icon-social_twitter
				h4 Twitter
		li
			a(href="https://www.facebook.com/frontendlabs.peru", target="_blank")
				i.icon.icon-social_facebook
				h4 Facebook