nav
	div
		i.icon.icon-menu
	ul
		li
			a(href="javascript:;")
				i.icon.icon-social_github
				h4 Github
		li
			a(href="javascript:;")
				i.icon.icon-social_twitter
				h4 Twitter
		li
			a(href="javascript:;")
				i.icon.icon-social_facebook
				h4 Facebook