- var page = {}
- page.charset         = "utf-8"
- page.lang            = "es"
- page.url             = "http://local.alpha.com/"
- page.local           = ""
- page.app 						 = "http://local.alpha.com/"
- page.title           = "Alfa"
- page.description     = "Frontend' workflow..."
- page.keywords        = "Keywords"
- page.author          = "@paulrrdiaz"
- page.name            = "Alfa"
- page.viewport        = "width=device-width, initial-scale=1.0"
- page.robots          = "index, follow"
- page.favicon         = page.app + "img/favicon.ico"

- page.og              = {}
- page.og.type         = "website"
- page.og.image        = page.app + "img/logo.png"