extends _layout/layout.jade
//- gallery
block css
	link(href='#{page.app}css/modules/gallery.css', media='all', rel='stylesheet', type='text/css')
block content
	#wrapper
		.wrapper_center
			.index
				p The person responsible doesn't work here anymore...
				a(href="https://github.com/paulrrdiaz/alpha/blob/small/README.md") but he made this README.md
				.clear
				img(src="#{page.app}img/likeasir.png")

block javascript
	script(src="#{page.app}js/modules/gallery.js")