extends _layout/layout.jade
//- index
block css
	link(href='#{page.app}css/modules/index/index.css', media='all', rel='stylesheet', type='text/css')
block yOSON
	script(type="text/javascript").
		var yOSON = {
			"module": "alpha",
			"controller": "index",
			"action": "index",
			"baseHost": "#{page.url}",
			"statHost": "#{page.app}",
			"static": true,
			"AppCore": {},
			"AppSandbox": {},
			"AppSchema": {
				"modules": {},
				"requires": {}
			},
			"statVers": "",
			"tmp" : {}
		}
block content
	#wrapper
		.wrapper_center
			.index
				p The person responsible doesn't work here anymore...
				a(href="https://github.com/paulrrdiaz/alpha/blob/small/README.md") but he made this README.md

block javascript
	script(src="#{page.app}js/modules/index/index.js")