/*
 * Index
 * @module index
 * @author @paulrrdiaz
 */
 
@require '../_config/*'
@require '../_mixins/*'

.index
	em(25px)
	margin-top 150px
	text-align center
	a
		display inline-block
		text-decoration underline
		margin-bottom 35px
	img
		border-radius 50%
		width 200px
		box-shadow 0 0 10px 1px #999