script(src="#{page.app}js/libs/jquery/dist/jquery.min.js", type="text/javascript")
script(src="#{page.app}js/libs/yosonjs/dist/yoson.js", type="text/javascript")
script(src="#{page.app}js/libs/yosonjs_utils/yosonjs_utils.js", type="text/javascript")
script(src="#{page.app}js/modules/all/all.js", type="text/javascript")