@font-face {
	font-family: "icons";
	src: url('../fonts/icons/icons.eot');
	src: url('../fonts/icons/icons.eot?#iefix') format('eot'),
		url('../fonts/icons/icons.woff') format('woff'),
		url('../fonts/icons/icons.ttf') format('truetype'),
		url('../fonts/icons/icons.svg#icons') format('svg');
}

.icon:before {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-alfa:before {
	content: "\E001";
}

.icon-beaker:before {
	content: "\E002";
}

.icon-menu:before {
	content: "\E003";
}

.icon-social_facebook:before {
	content: "\E004";
}

.icon-social_github:before {
	content: "\E005";
}

.icon-social_twitter:before {
	content: "\E006";
}
