@font-face {
	font-family: "icons";
	src: url('../fonts/icons/icons.eot');
	src: url('../fonts/icons/icons.eot?#iefix') format('eot'),
		url('../fonts/icons/icons.woff') format('woff'),
		url('../fonts/icons/icons.ttf') format('truetype'),
		url('../fonts/icons/icons.svg#icons') format('svg');
}

.icon:before {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-aim:before {
	content: "\E001";
}

.icon-arrow_left:before {
	content: "\E002";
}

.icon-check:before {
	content: "\E003";
}

.icon-diagram_saving:before {
	content: "\E004";
}

.icon-earning:before {
	content: "\E005";
}

.icon-expenses:before {
	content: "\E006";
}

.icon-fixed_expense:before {
	content: "\E007";
}

.icon-help:before {
	content: "\E008";
}

.icon-index:before {
	content: "\E009";
}

.icon-less:before {
	content: "\E00A";
}

.icon-liabilities:before {
	content: "\E00B";
}

.icon-logo_sbs:before {
	content: "\E00C";
}

.icon-logout:before {
	content: "\E00D";
}

.icon-more:before {
	content: "\E00E";
}

.icon-next:before {
	content: "\E00F";
}

.icon-prev:before {
	content: "\E010";
}

.icon-residue:before {
	content: "\E011";
}

.icon-saving:before {
	content: "\E012";
}

.icon-tips:before {
	content: "\E013";
}

.icon-user:before {
	content: "\E014";
}

.icon-variable_expense:before {
	content: "\E015";
}
