/*!!
 * Layout
 * @module layout
 * @class header
 * @author @paulrrdiaz
*/

header
	background $blue_01
	color white
	padding 10px 15px
	h1
		em(30px)
		i
			em(8px)
			margin 0 10px 0 0
	h2
		color $skyblue