/**
* Config
* @class Config 
*/

/* Paths */
$imgPath       = '../img/'
$pluginsPath = '../' + $imgPath + 'plugins/'
$fontsPath      	= '../../fonts/'

/* font family variables */
$futuraBtMedium = 'futuraBtMedium', 'arial', 'sans-serif'
$baseFont = 11px

/* Color variables */
$blue = #4183D7
$skyblue = #C5EFF7
$bg = #f1f1f1

/* Layout variables */
$wrapperWidth = 980px
