/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$branch_name = 'branch';
$branch_x = 64px;
$branch_y = 64px;
$branch_offset_x = -64px;
$branch_offset_y = -64px;
$branch_width = 64px;
$branch_height = 43px;
$branch_total_width = 128px;
$branch_total_height = 128px;
$branch_image = '../../../img/sprite.png';
$branch = 64px 64px -64px -64px 64px 43px 128px 128px '../../../img/sprite.png' 'branch';
$code_name = 'code';
$code_x = 0px;
$code_y = 0px;
$code_offset_x = 0px;
$code_offset_y = 0px;
$code_width = 64px;
$code_height = 64px;
$code_total_width = 128px;
$code_total_height = 128px;
$code_image = '../../../img/sprite.png';
$code = 0px 0px 0px 0px 64px 64px 128px 128px '../../../img/sprite.png' 'code';
$computer_name = 'computer';
$computer_x = 64px;
$computer_y = 0px;
$computer_offset_x = -64px;
$computer_offset_y = 0px;
$computer_width = 64px;
$computer_height = 64px;
$computer_total_width = 128px;
$computer_total_height = 128px;
$computer_image = '../../../img/sprite.png';
$computer = 64px 0px -64px 0px 64px 64px 128px 128px '../../../img/sprite.png' 'computer';
$terminal_name = 'terminal';
$terminal_x = 0px;
$terminal_y = 64px;
$terminal_offset_x = 0px;
$terminal_offset_y = -64px;
$terminal_width = 64px;
$terminal_height = 64px;
$terminal_total_width = 128px;
$terminal_total_height = 128px;
$terminal_image = '../../../img/sprite.png';
$terminal = 0px 64px 0px -64px 64px 64px 128px 128px '../../../img/sprite.png' 'terminal';
$spritesheet_width = 128px;
$spritesheet_height = 128px;
$spritesheet_image = '../../../img/sprite.png';
$spritesheet_sprites = $branch $code $computer $terminal;
$spritesheet = 128px 128px '../../../img/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
