/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$calendar_name = 'calendar';
$calendar_x = 20px;
$calendar_y = 37px;
$calendar_offset_x = -20px;
$calendar_offset_y = -37px;
$calendar_width = 19px;
$calendar_height = 19px;
$calendar_total_width = 65px;
$calendar_total_height = 57px;
$calendar_image = '../../../../img/sprite.png';
$calendar = 20px 37px -20px -37px 19px 19px 65px 57px '../../../../img/sprite.png' 'calendar';
$close_name = 'close';
$close_x = 45px;
$close_y = 20px;
$close_offset_x = -45px;
$close_offset_y = -20px;
$close_width = 16px;
$close_height = 16px;
$close_total_width = 65px;
$close_total_height = 57px;
$close_image = '../../../../img/sprite.png';
$close = 45px 20px -45px -20px 16px 16px 65px 57px '../../../../img/sprite.png' 'close';
$delete_name = 'delete';
$delete_x = 45px;
$delete_y = 0px;
$delete_offset_x = -45px;
$delete_offset_y = 0px;
$delete_width = 20px;
$delete_height = 20px;
$delete_total_width = 65px;
$delete_total_height = 57px;
$delete_image = '../../../../img/sprite.png';
$delete = 45px 0px -45px 0px 20px 20px 65px 57px '../../../../img/sprite.png' 'delete';
$edit_name = 'edit';
$edit_x = 0px;
$edit_y = 37px;
$edit_offset_x = 0px;
$edit_offset_y = -37px;
$edit_width = 20px;
$edit_height = 20px;
$edit_total_width = 65px;
$edit_total_height = 57px;
$edit_image = '../../../../img/sprite.png';
$edit = 0px 37px 0px -37px 20px 20px 65px 57px '../../../../img/sprite.png' 'edit';
$itemdetails_active_name = 'itemdetails_active';
$itemdetails_active_x = 25px;
$itemdetails_active_y = 21px;
$itemdetails_active_offset_x = -25px;
$itemdetails_active_offset_y = -21px;
$itemdetails_active_width = 20px;
$itemdetails_active_height = 14px;
$itemdetails_active_total_width = 65px;
$itemdetails_active_total_height = 57px;
$itemdetails_active_image = '../../../../img/sprite.png';
$itemdetails_active = 25px 21px -25px -21px 20px 14px 65px 57px '../../../../img/sprite.png' 'itemdetails_active';
$itemmenu_active_name = 'itemmenu_active';
$itemmenu_active_x = 39px;
$itemmenu_active_y = 37px;
$itemmenu_active_offset_x = -39px;
$itemmenu_active_offset_y = -37px;
$itemmenu_active_width = 6px;
$itemmenu_active_height = 11px;
$itemmenu_active_total_width = 65px;
$itemmenu_active_total_height = 57px;
$itemmenu_active_image = '../../../../img/sprite.png';
$itemmenu_active = 39px 37px -39px -37px 6px 11px 65px 57px '../../../../img/sprite.png' 'itemmenu_active';
$logo_presupuesto_familiar_name = 'logo_presupuesto_familiar';
$logo_presupuesto_familiar_x = 0px;
$logo_presupuesto_familiar_y = 0px;
$logo_presupuesto_familiar_offset_x = 0px;
$logo_presupuesto_familiar_offset_y = 0px;
$logo_presupuesto_familiar_width = 25px;
$logo_presupuesto_familiar_height = 37px;
$logo_presupuesto_familiar_total_width = 65px;
$logo_presupuesto_familiar_total_height = 57px;
$logo_presupuesto_familiar_image = '../../../../img/sprite.png';
$logo_presupuesto_familiar = 0px 0px 0px 0px 25px 37px 65px 57px '../../../../img/sprite.png' 'logo_presupuesto_familiar';
$more_name = 'more';
$more_x = 45px;
$more_y = 37px;
$more_offset_x = -45px;
$more_offset_y = -37px;
$more_width = 11px;
$more_height = 10px;
$more_total_width = 65px;
$more_total_height = 57px;
$more_image = '../../../../img/sprite.png';
$more = 45px 37px -45px -37px 11px 10px 65px 57px '../../../../img/sprite.png' 'more';
$more_circle_name = 'more_circle';
$more_circle_x = 25px;
$more_circle_y = 0px;
$more_circle_offset_x = -25px;
$more_circle_offset_y = 0px;
$more_circle_width = 20px;
$more_circle_height = 21px;
$more_circle_total_width = 65px;
$more_circle_total_height = 57px;
$more_circle_image = '../../../../img/sprite.png';
$more_circle = 25px 0px -25px 0px 20px 21px 65px 57px '../../../../img/sprite.png' 'more_circle';
$spritesheet_width = 65px;
$spritesheet_height = 57px;
$spritesheet_image = '../../../../img/sprite.png';
$spritesheet_sprites = $calendar $close $delete $edit $itemdetails_active $itemmenu_active $logo_presupuesto_familiar $more $more_circle;
$spritesheet = 65px 57px '../../../../img/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
